<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
  <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}}</p>
</ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5>{{api.translate('Add New Coupon')}} </h5>
      </div>
      <div class="card-body reset-table p-t-0">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">{{api.translate('Upload cover image here')}}</label>
          <div class="col-sm-4">
            <input (change)="preview_banner($event.target.files)" type="file" class="form-control" accept="image/*">
          </div>
          <div class="col-sm-4">
            <img [src]="api.mediaURL+ coverImage" alt="" style="height: 100px;width: 100px;float: right;"
              onError="this.src='assets/icon.png'">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Title')}}</label>
            <input type="text" [(ngModel)]="title" class="form-control" [placeholder]="api.translate('Title')">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>{{api.translate('Store')}}</label>
            <select name="select" [(ngModel)]="selectedStore" class="form-control">
              <option value="">{{ api.translate('select Store') }}</option>
              <option *ngFor="let item of getList()" [value]="item.id">{{item.name_en}} {{ item.name_ar }}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label>{{api.translate('Product')}}</label>
            <select name="select" [(ngModel)]="selectedProduct" class="form-control">
              <option value="">{{ api.translate('select Product') }}</option>
              <option *ngFor="let item of productsList" [value]="item.id">{{item.name_en}} {{ item.name_ar }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Coupon code')}}</label>
            <input type="text" [(ngModel)]="name" class="form-control" [placeholder]="api.translate('Coupon code')">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Discount')}}</label>
            <input type="number" [(ngModel)]="off" class="form-control" [placeholder]="api.translate('Discount')">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Minimum cart value')}}</label>
            <input type="number" [(ngModel)]="min" class="form-control"
              [placeholder]="api.translate('Minimum cart value')">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Upto')}}</label>
            <input type="number" [(ngModel)]="upto" class="form-control" [placeholder]="api.translate('Upto')">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Discount Type')}}</label>
            <select name="select" [(ngModel)]="type" class="form-control">
              <option value="per">%</option>
              <option value="flat">{{api.translate('Flat')}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Expire date')}}</label>
            <input type="date" [(ngModel)]="date_time" class="form-control"
              [placeholder]="api.translate('Expire date')">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>{{api.translate('Descriptions')}}</label>
            <textarea rows="5" cols="5" [(ngModel)]="descriptions" class="form-control"
              [placeholder]="api.translate('Descriptions')"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="d-flex">
              <input class="" [(ngModel)]="promo" type="checkbox" id="promo">
              <label class="px-2" for="promo">
                {{api.translate('Promo')}}
              </label>
            </div>

            <div class="d-flex">
              <input class="" [(ngModel)]="freeDelivery" type="checkbox" id="free-delivery">
              <label class="px-2" for="free-delivery">
                {{api.translate('Free Delivery')}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-danger btn-round" (click)="create()">{{api.translate('Add
              coupon')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng2-toasty></ng2-toasty>
