<div class="row">
    <!-- counter-card-1 start-->
    <div class="col-md-12 col-xl-4">
        <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
            <div class="row" (click)="userType == 'admin' || userType == 'store'?openIt('orders'):''" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-chart-histogram"></i>
                </div>
                <div class="col-6  text-right">
                    <div class="counter-card-text">
                        <h3> {{allOrders}} </h3>
                        <p>{{api.translate('Orders')}}</p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-1 end-->

    <!-- counter-card-2 start -->
    <div class="col-md-6 col-xl-4">
        <app-card [cardClass]="'counter-card-2'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt(userType)" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-chart-line-alt"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{allUsers}} </h3>
                        <p *ngIf="userType == 'admin'">{{api.translate('Users')}}</p>
                        <p *ngIf="userType == 'agent' || userType == 'branch_manager'">{{api.translate('Drivers')}}</p>
                        <p *ngIf="userType == 'store'">{{api.translate('Products')}}</p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-2 end -->

    <!-- counter-card-3 start -->
    <div class="col-md-6 col-xl-4">
        <app-card [cardClass]="'counter-card-3'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt(userType =='store'?'category':'stores')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-chart-line"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{stores.length}} </h3>
                        <p *ngIf="userType != 'store'">{{api.translate('Stores')}}</p>
                        <p *ngIf="userType == 'store'">{{api.translate('Categories')}}</p>

                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-3 end -->

    <!-- counter-card-4 start -->
    <div class="col-md-6 col-xl-3" *ngIf="userType =='agent'">
      <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
          <div class="row" style="cursor: pointer;">
              <div class="col-4 counter-card-icon">
                <i class="icofont icofont-chart-histogram"></i>
              </div>
              <div class="col-8 text-right">
                  <div class="counter-card-text">
                      <h3> {{storeSales}} </h3>
                      <p>{{api.translate('Restaurants Sales')}}</p>
                  </div>
              </div>
          </div>
      </app-card>
    </div>
    <!-- counter-card-4 end -->

    <!-- counter-card-5 start -->
    <div class="col-md-6 col-xl-3" *ngIf="userType =='agent'">
      <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
          <div class="row" style="cursor: pointer;">
              <div class="col-4 counter-card-icon">
                <i class="icofont icofont-chart-histogram"></i>
              </div>
              <div class="col-8 text-right">
                  <div class="counter-card-text">
                      <h3> {{driversTotal}}</h3>
                      <p>{{api.translate('Driver\'s Total Amount')}}</p>
                  </div>
              </div>
          </div>
      </app-card>
    </div>
    <!-- counter-card-5 end -->

    <!-- counter-card-6 start -->
    <div class="col-md-6 col-xl-3" *ngIf="userType =='agent'">
      <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
          <div class="row" style="cursor: pointer;">
              <div class="col-4 counter-card-icon">
                <i class="icofont icofont-chart-histogram"></i>
              </div>
              <div class="col-8 text-right">
                  <div class="counter-card-text">
                      <h3> {{profit}}</h3>
                      <p>{{api.translate('Total Profit')}}</p>
                  </div>
              </div>
          </div>
      </app-card>
    </div>
    <!-- counter-card-6 end -->

    <!-- counter-card-7 start -->
    <div class="col-md-6 col-xl-3" *ngIf="userType =='agent'">
      <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
          <div class="row" style="cursor: pointer;">
              <div class="col-4 counter-card-icon">
                <i class="icofont icofont-chart-histogram"></i>
              </div>
              <div class="col-8 text-right">
                  <div class="counter-card-text">
                      <h3> {{profitPer}}% </h3>
                      <p>{{api.translate('Profit Percentage')}}</p>
                  </div>
              </div>
          </div>
      </app-card>
    </div>
    <!-- counter-card-7 end -->

    <!-- Reset Order Start -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>{{api.translate('Recent 10 Orders')}}</h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>{{api.translate('User')}}</th>
                                <th>{{api.translate('User Name')}}</th>
                                <th>{{api.translate('Stores')}}</th>
                                <th>{{api.translate('Ordered on')}}</th>
                                <th>{{api.translate('Method')}}</th>
                                <th>{{api.translate('Total')}}</th>
                                <th>{{api.translate('Quantity')}}</th>
                                <th>{{api.translate('Status')}}</th>
                                <th>{{api.translate('Driver')}}</th>
                                <th>{{api.translate('Action')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy ">
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>

                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr *ngFor="let item of orders;let i = index">
                                <td><a href="javascript:;"><img class="img-responsive"
                                            style="height: 40px;border-radius: 50%;" [src]="api.mediaURL+item.cover"
                                            onError="this.src='assets/images/user.png'" alt="chat-user"></a>
                                </td>
                                <td> {{item.first_name}} {{item.last_name}} </td>
                                <td> from {{item.str_name_en }} </td>
                                <td>{{getDates(item.time)}}</td>
                                <ng-container *ngIf="item.pay_method == 'Cash'">
                                    <td style="color: red">{{item.pay_method}}</td>
                                </ng-container>

                                <ng-container *ngIf="item.pay_method == 'Thawani'">
                                    <td style="color: green">{{item.pay_method}}</td>
                                </ng-container>

                                <ng-container *ngIf="item.pay_method != 'Thawani' && item.pay_method != 'Cash'">
                                  <td style="color:rgb(10, 45, 246)" >{{item.pay_method}}</td>
                                </ng-container>

                                <td>
                                    {{util.currecny}}
                                    {{item.grand_total}}
                                </td>
                                <td>{{item.orders.length}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.driverfullName}}</td>
                                <td><button type="button" (click)="openOrder(item)"
                                        class="btn btn-success btn-round btn-outline-success">{{api.translate('View')}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- Reset Order End -->
</div>
